In [6]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd 

df = pd.read_csv("sample_data.csv")

df_label = df.copy()

le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

print('\nLabel encoded data:')
print(df_label[['Name' , 'Gender' , 'Gender_Encoded' , 'Passed' ,'Passed_Encoded']])

Label encoded data:
       Name  Gender  Gender_Encoded Passed  Passed_Encoded
0      Riya  Female               0    Yes               1
1      Aman    Male               1     No               0
2     Priya  Female               0    Yes               1
3     Rahul    Male               1    Yes               1
4      Neha  Female               0     No               0
5     Karan    Male               1    Yes               1
6     Ankit    Male               1     No               0
7     Pooja  Female               0    Yes               1
8     Arjun    Male               1    Yes               1
9     Sneha  Female               0     No               0
10    Vikas    Male               1    Yes               1
11     Isha  Female               0    Yes               1
12    Rohan    Male               1     No               0
13    Meera  Female               0    Yes               1
14    Sahil    Male               1     No               0
15    Tanya  Female               0    Yes               1
16   Nikhil    Male               1    Yes               1
17    Aditi  Female               0     No               0
18    Mohit    Male               1    Yes               1
19    Kavya  Female               0    Yes               1
20    Sumit    Male               1     No               0
21   Ananya  Female               0    Yes               1
22  Prakash    Male               1    Yes               1
23   Bhavya  Female               0     No               0
24   Manish    Male               1    Yes               1
25     Ritu  Female               0    Yes               1
26    Aryan    Male               1     No               0
27    Komal  Female               0    Yes               1
28    Vivek    Male               1    Yes               1
29    Payal  Female               0     No               0
30    Harsh    Male               1    Yes               1
31    Nisha  Female               0    Yes               1
32   Deepak    Male               1     No               0
33  Pallavi  Female               0    Yes               1
34   Rakesh    Male               1    Yes               1

In [7]:
df_encoded = pd.get_dummies(df , columns=['City'])
print('\n One-Hot Encoded Data City')
print(df_encoded)

 One-Hot Encoded Data City
       Name  Gender Passed  City_Ahmedabad  City_Bangalore  City_Bhopal  \
0      Riya  Female    Yes           False           False        False
1      Aman    Male     No           False           False        False
2     Priya  Female    Yes           False           False        False
3     Rahul    Male    Yes           False            True        False
4      Neha  Female     No           False           False        False
5     Karan    Male    Yes           False           False        False
6     Ankit    Male     No           False           False        False
7     Pooja  Female    Yes           False           False        False
8     Arjun    Male    Yes           False           False        False
9     Sneha  Female     No           False           False        False
10    Vikas    Male    Yes           False           False        False
11     Isha  Female    Yes           False           False        False
12    Rohan    Male     No           False           False        False
13    Meera  Female    Yes            True           False        False
14    Sahil    Male     No           False           False        False
15    Tanya  Female    Yes           False            True        False
16   Nikhil    Male    Yes           False           False        False
17    Aditi  Female     No           False           False        False
18    Mohit    Male    Yes           False           False        False
19    Kavya  Female    Yes           False           False        False
20    Sumit    Male     No           False           False        False
21   Ananya  Female    Yes           False           False        False
22  Prakash    Male    Yes           False           False        False
23   Bhavya  Female     No           False           False        False
24   Manish    Male    Yes           False           False        False
25     Ritu  Female    Yes           False           False         True
26    Aryan    Male     No           False           False        False
27    Komal  Female    Yes           False           False        False
28    Vivek    Male    Yes           False           False        False
29    Payal  Female     No           False           False        False
30    Harsh    Male    Yes            True           False        False
31    Nisha  Female    Yes           False           False        False
32   Deepak    Male     No           False           False        False
33  Pallavi  Female    Yes           False            True        False
34   Rakesh    Male    Yes           False           False        False

    City_Chandigarh  City_Chennai  City_Delhi  City_Hyderabad  City_Indore  \
0             False         False       False           False        False
1             False         False        True           False        False
2             False         False       False           False        False
3             False         False       False           False        False
4             False          True       False           False        False
5             False         False       False            True        False
6             False         False       False           False        False
7             False         False       False           False        False
8             False         False        True           False        False
9             False         False       False           False        False
10            False         False       False           False        False
11             True         False       False           False        False
12            False         False       False           False        False
13            False         False       False           False        False
14            False         False       False           False        False
15            False         False       False           False        False
16            False         False       False           False        False
17            False         False        True           False        False
18            False         False       False           False        False
19            False         False       False           False        False
20            False         False       False           False        False
21            False         False       False           False        False
22            False          True       False           False        False
23            False         False       False           False        False
24            False         False       False           False         True
25            False         False       False           False        False
26            False         False        True           False        False
27            False         False       False           False        False
28            False         False       False           False        False
29            False         False       False           False        False
30            False         False       False           False        False
31            False         False       False           False        False
32             True         False       False           False        False
33            False         False       False           False        False
34            False         False       False            True        False

    City_Jaipur  City_Kolkata  City_Mumbai  City_Noida  City_Patna  City_Pune  \
0         False         False         True       False       False      False
1         False         False        False       False       False      False
2         False         False        False       False       False       True
3         False         False        False       False       False      False
4         False         False        False       False       False      False
5         False         False        False       False       False      False
6         False          True        False       False       False      False
7         False         False         True       False       False      False
8         False         False        False       False       False      False
9         False         False        False       False       False       True
10         True         False        False       False       False      False
11        False         False        False       False       False      False
12        False         False         True       False       False      False
13        False         False        False       False       False      False
14        False         False        False       False       False      False
15        False         False        False       False       False      False
16        False         False        False       False       False       True
17        False         False        False       False       False      False
18        False         False        False        True       False      False
19        False         False         True       False       False      False
20        False         False        False       False        True      False
21        False          True        False       False       False      False
22        False         False        False       False       False      False
23         True         False        False       False       False      False
24        False         False        False       False       False      False
25        False         False        False       False       False      False
26        False         False        False       False       False      False
27        False         False        False       False       False       True
28        False         False         True       False       False      False
29        False         False        False       False       False      False
30        False         False        False       False       False      False
31        False         False        False       False        True      False
32        False         False        False       False       False      False
33        False         False        False       False       False      False
34        False         False        False       False       False      False

    City_Surat
0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14        True
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29        True
30       False
31       False
32       False
33       False
34       False

In [9]:
#convert into boolean
df_city_bool = pd.get_dummies(df['City'], dtype=int)
print(df_city_bool.head())

   Ahmedabad  Bangalore  Bhopal  Chandigarh  Chennai  Delhi  Hyderabad  \
0          0          0       0           0        0      0          0
1          0          0       0           0        0      1          0
2          0          0       0           0        0      0          0
3          0          1       0           0        0      0          0
4          0          0       0           0        1      0          0

   Indore  Jaipur  Kolkata  Mumbai  Noida  Patna  Pune  Surat
0       0       0        0       1      0      0     0      0
1       0       0        0       0      0      0     0      0
2       0       0        0       0      0      0     1      0
3       0       0        0       0      0      0     0      0
4       0       0        0       0      0      0     0      0