In [1]:
import pandas as pd

In [11]:
data = { 
    'Name' : ['Pavan' , 'Kapil' , 'Lalit' ,'Ishan' , 'Om'],
    'Age' : [25 , None ,44 , 23 , None],
    'Salary' :[50000 , 60000 , 70000 , None , None]
}

df = pd.DataFrame(data)
print("Orginial Dataframe")
print(df)

Orginial Dataframe
    Name   Age   Salary
0  Pavan  25.0  50000.0
1  Kapil   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4     Om   NaN      NaN

In [12]:
 print(df.isnull().sum())

Name      0
Age       2
Salary    2
dtype: int64

In [13]:
 df.isnull().mean()*100

Name       0.0
Age       40.0
Salary    40.0
dtype: float64

In [15]:
df_drop = df.dropna()
print(df_drop)

    Name   Age   Salary
0  Pavan  25.0  50000.0
2  Lalit  44.0  70000.0

In [16]:
df['Age'].fillna(df['Age'].mean() , inplace=True)
df['Salary'].fillna(df['Salary'].mean() , inplace=True)
print(df)

    Name        Age   Salary
0  Pavan  25.000000  50000.0
1  Kapil  30.666667  60000.0
2  Lalit  44.000000  70000.0
3  Ishan  23.000000  60000.0
4     Om  30.666667  60000.0

C:\Users\HP\AppData\Local\Temp\ipykernel_13708\2067772561.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean() , inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_13708\2067772561.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean() , inplace=True)

In [17]:
 df.isnull().mean()*100

Name      0.0
Age       0.0
Salary    0.0
dtype: float64